//color variables
$black 			: rgb(0,0,0);
$darkgrey 		: lighten($black, 25%);
$grey 			: lighten($black, 50%);
$lightgrey 		: lighten($black, 75%);
$lightergrey 	: lighten($black, 90%);
$white 			: rgb(255,255,255);

//@include transition
@mixin transition($transition){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition:$transition ;
  -o-transition: $transition;
  transition: $transition;
}

//@include horizonGradient
@mixin horizonGradient($startColor:$white,$endColor:$grey){
  background-image: -webkit-gradient(linear,0 0,100% 0,from($startColor),to($endColor));
  background-image: -webkit-linear-gradient(top,$startColor,$endColor);
  background-color: $endColor;
  background-image: -moz-linear-gradient(top,$startColor,$endColor);
  background-image: -o-linear-gradient(top,$startColor,$endColor);
  background-image: -ms-linear-gradient(top,$startColor,$endColor);
  background-image: linear-gradient(top,$startColor,$endColor);
  background-repeat: repeat-x;
}

//%placeholder flex-row
%flex-row{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  -webkit-flex-flow: row;
  -moz-flex-flow:row;
  -ms-flex-flow:row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items:center;
  -ms-align-items:center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content:space-around;
  -ms-justify-content:space-around;
}

//@mixin flex-warp
@mixin flex-warp{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  -moz-flex-flow:column;
  -ms-flex-flow:column;
}