@import "mixin";
.navbar{
  background: #1b1b1b;
  max-height: 50px;
  @include transition(max-height .5s);

  .nav-container{
    width: 90%;
    margin: 0 auto;
    a{
      color: #fff;
      height: 50px;
      display: block;
      line-height: 50px;
      padding: 0px 10px;
    }
    li{
      display: inline-block;
      text-align: left;
      a:hover{
        color: #eeeeee;
      }
    }
    .logo{
      float: right;
    }
  }
  .menu-button{
    display: none;
  }
  &.open{
    max-height: 250px;
  }
}
.banner{
  padding:80px 20px;
  text-align: center;
  @include horizonGradient(#feb900, #cb790f);
  h1{
    font-size: 48px;
    font-family: bold;
    line-height: 1em;
  }
  p{
    font-size: 24px;
  }
}
.gallery{
  margin: 20px;
  .grid3{
    width: 90%;
    margin: 0 auto;
    @extend %flex-row;
    .grid{
      width: 25%;
      .gridImg{
        margin: 0 3% 2% 0;
        img {
          max-width: 100%;
        }
      }
      .h2{
        margin: 0;
      }
    }
  }
}
footer{
  padding: 15px 0;
  background: #1b1b1b;
  color: #fff;
  text-align: center;
  clear: both;
  margin: 0 auto;
}
.content{
  width: 90%;
  margin: 0 auto;
  ul{
    margin:0 auto;
    width: 300px;
    li{
      float: left;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background: #000;
      margin-right: 20px;
      i{
        display: inline-block;
        font-size: 42px;
        color: grey;
        line-height: 80px;
      }
    }
  }
}
.top{
  padding: 20px;
  a:link{
    color: #fff;
    font-size: 20px;
  }
  a:visited{
    color: #fff;
  }
}

@media screen and (max-width:992px) {
  @import "992";
}

@media screen and (max-width: 768px){
  @import "768";
}
